# ControlFlow statement

## conditional statements in python

### if Statement

In [2]:
i=20
if i<10:
    print("20 is greater than 10")
print("condition is false")

condition is false

In [12]:
tem = float(input("Enter the value of temperature by the user:"))
if(tem<15):
    print("temperature is not Convinient")
if(24<tem<28):
    print("temperature is Convinient")

Enter the value of temperature by the user: 25

temperature is Convinient

### if-else statement

In [14]:
age= int(input("Enter your age:"))
if(age>18):
    print(" Your are eligible to vote")
else:
    print("your are note eligible to vote")

Enter your age: 12

your are note eligible to vote

In [17]:
base_salary=float(input("Entyer your base salary :"))
year_of_service=int(input("Enter your year of service"))

if (year_of_service>5):
    total_salary= base_salary +(0.08*base_salary)-(0.12*base_salary)
    print("your will get net salary",total_salary)
else:
    net_salary= base_salary-(0.12*base_salary)
    print("your net salary is",net_salary)

Entyer your base salary : 50000
Enter your year of service 6

your will get net salary 48000.0

### if elif else statement

In [24]:
city=input("Enter your famous city:")

if(city=='mumbai'):
    print("Getway of India")

elif(city=='kolkata'):
    print("Victoria memorial")

elif(city=='Chennai'):
    print("Marina Beach")

elif(city=='Bangalore'):
    print("Botanical Garden")

elif(city=='pune'):
    print("shaniwar wada")

else:
    print("Not more record are found in hera")

Enter your famous city: darbhanga

Not more record are found in hera