In [ ]:
this is my first class

In [1]:
print("this is my first class")

this is my first class

this is my first class

#this is my first class

#this is my first class

In [2]:
print(2+3)

5

In [3]:
print("Hello World")

Hello World

In [5]:
print("hello world")

hello world

In [6]:
#this is about the introduction of a educator 
print("hello  i am chandan")
print('20') #this is a number
print(2+8)

hello  i am chandan
20
10

In [1]:
#data type in pytjon
x=5  #int
print(x)

5

In [2]:
a=10 #int
b=25 #float
c="chandan"
print(a,b,c)#string

10 25 chandan

In [3]:
y="we are learning python"
print(y)

we are learning python

In [4]:
%whos  #aisa likane se mujhe ye pata chalta hai ki abhi tk hm kitne variable liye hai aur uska value kya hai

Variable   Type    Data/Info
----------------------------
a          int     10
b          int     25
c          str     chandan
x          int     5
y          str     we are learning python

#rule of variable in python

In [5]:
#rule1 (A variable name must start with a letter  or the underscore character)
apple=12
print(apple)

12

In [6]:
chandan_thakur="good boy"
print(chandan_thakur)

good boy

In [7]:
_=5
print(_)

5

In [8]:
_z=6.3
print(_z)

6.3

In [9]:
#rule2(A variable name cannot start with a number)
2="chandan"
print(2)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (944453239.py, line 2)

In [11]:
#to ye hmesa error deta hai
x5="chandan"
print(x5)

chandan

In [12]:
#to hmesa hme == equal se hm variable store ho jayega
1=="chandan"
print(1)

1

In [13]:
1_appplr= 254
print(1_apple)

SyntaxError: invalid decimal literal (2506143778.py, line 1)

In [14]:
apple_1= 254
print(apple_1)

254

#rule 3 ( A variable name can only cintain alpha-numeric charcters and underscores(a-z,0-9 and _)

In [19]:
abc123nmp = 23
print(abc123nmp)

23

In [20]:
abc123456789542145 = "chandan"
print(abc123456789542145)

chandan

In [21]:
$&@ = 5              #charcters me kewal hm _ hi use kr skate hai 
print($&@)

SyntaxError: invalid syntax (3228128797.py, line 1)

In [22]:
%whos

Variable             Type    Data/Info
--------------------------------------
a                    int     10
abc123456789542145   str     chandan
abc123nmp            int     23
apple                int     12
apple_1              int     254
b                    int     25
c                    str     chandan
chandan_thakur       str     good boy
x                    int     5
x5                   str     chandan
y                    str     we are learning python

In [23]:
gulshan = "chandan"
print(gulshan)

chandan

#rule4( variable names are case-sensetive (age, Age and AGE are three different variable)

In [25]:
age = 23
Age = 25
AGE = 65
aGe = 54
print(age)
print(Age)
print(AGE)
print(aGe)

23
25
65
54

Data Type in Python

In [26]:
a=54
b=4.3
print(a)
print(type(a))
type(b)

54
<class 'int'>

float

In [28]:
v=2+3j
print(v)
print(type(v))
type(v)

(2+3j)
<class 'complex'>

complex

In [29]:
num=[23,65,48,4,]
print(num)
print(type(num))
type(num)

[23, 65, 48, 4]
<class 'list'>

list

In [1]:
num1 = True
print(type(num1))
type(num1)

<class 'bool'>

bool

In [34]:
num1 = Fal
print(type(num1))
type(num1)

<class 'bool'>

bool

Rule5 ( A variable name cannot be any of the Python keywords)

In [2]:
x=5
print(x)

5