# function

## built in function

### 1.Float function

float function ka jo kam hota hai wo integer value ko float me convert krne ke liye use kya jata hai

In [1]:
num_int = 10
print(type(num_int))
a=float(num_int)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [3]:
a="3.14"
print(type(a))
b=float(a)
print(b)
print(type(b))

<class 'str'>
3.14
<class 'float'>

In [5]:
b="684"
c=float(b)
print(c)
print(type(c))

684.0
<class 'float'>

### 2.int function

In [6]:
a=684.54
print(type(a))
b=int(a)
print(b)
print(type(b))

<class 'float'>
684
<class 'int'>

In [7]:
a1="478"
print(type(a1))
b1=int(a1)
print(b1)
print(type(b1))

<class 'str'>
478
<class 'int'>

### 3.str function

In [13]:
a=56
print(type(a))
b=str(a)
print(b)
print(type(b))
c="2"
print(b+c)
print(a+2)

<class 'int'>
56
<class 'str'>
562
58

In [14]:
x=98.7
print(type(x))
y=str(x)
print(y)
print(type(y))

<class 'float'>
98.7
<class 'str'>

### 4.Complex function

In [16]:
comp = complex(2,8)
print(comp)

(2+8j)

In [17]:
y=complex(98,45)
print(y)

(98+45j)

### 5.abs function

In [18]:
x= -65
print(type(x))
y=abs(x)
print(y)
print(type(y))

<class 'int'>
65
<class 'int'>

In [20]:
y=-98.7
print(abs(y))

98.7

In [21]:
com= 78+45j
print(abs(com))

90.0499861188218

In [22]:
a=-3+4j
print(abs(a))

5.0

### 6.len function

In [23]:
a= "Hello i am chandan"
print(len(a))

18

In [24]:
b="cat dog"
print(len(b))

7

In [25]:
c= [54,87,97,57,35]
print(len(c))

5

###### question 1

In [26]:
#play score is 1234.56
player_score= 1234.56
print("The play score is ", int(player_score))

The play score is  1234

###### question2

In [27]:
customer_database = [
      (1,'john Doe','johan@example.com'),
      (2,'jane smith','jane@vjhfv.com'),
      (3,'Alice Johnson', 'alice@example.com'),
]
print("The total number of customers in the database is",len(customer_database))

The total number of customers in the database is 3

###### question3

In [28]:
principal=250000
time=3
rate=9.34567
si=(principal*rate*time)
print("simple interest of the company is:",si)

simple interest of the company is: 7009252.5

### 7.bin function

In [ ]:
The bin() function in python is used to
convert an integers number to its binary representation as a string prefixed with 'ob'.
it takes an integers as an argument and returns its binary reprentation

In [1]:
binary_representation=bin(260)
print(binary_representation)

0b100000100

In [31]:
print(bin(4))
print(bin(200))
print(bin(8))
print(bin(89))

0b100
0b11001000
0b1000
0b1011001

### 8.Sum function

the sum() function in python is used to calculate the sum of thee element in an iterable ,such as lists ,tuple,and 
other iterable object

In [32]:
my_list=[4,5,8,7,12,36,48,96,12,35,78,12,11,22,33,44,55,66]
a=sum(my_list)
print(a)

584

In [34]:
a=[1,5,7,9,8,4,6]
strating_value=7
total_value=sum(a,strating_value)
print(total_value)

47

In [35]:
a=[1,4,6]
strating_value=4
total_value=sum(a,strating_value)
print(total_value)

15

### 9.eval function

eval() : Evaluates a Python expression stored in a string

x= 10
y =5
expression ="x+y*2"
print(eval(expression))

In [38]:
 exp="5/2+3.5"
chandan=eval(exp)
print(type(exp))
print(chandan)
print(type(chandan))

<class 'str'>
6.0
<class 'float'>

In [39]:
exp1="24+87-98*32/45%87*45"
print(eval(exp1))

-3024.9999999999995

In [44]:
x=5
y=2.5
z=32
exp= "x+y*z/x*y*z"
print(eval(exp))

1285.0

### 10.Help function

The Python help function is used to display the documentation of modules, function, classes, keybords,etc

In [46]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [48]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

## 11.Input function

In [53]:
name= input("enter your name")   # input function hamesa string value is bydefault rakhta hai
print("name entered by user is",name)
print(type(name))

enter your name chandan

name entered by user is chandan
<class 'str'>

In [54]:
name= input("enter your name")   # input function hamesa string value is bydefault rakhta hai
print("name entered by user is",name)
print(type(name))

enter your name 545

name entered by user is 545
<class 'str'>

##### practice Question

##### qestion 1

In [ ]:
get two number from the user and calculatee their sum

In [59]:
num1= input("Enter the value of first number")
num2 = input("Enter the value of second number")
a=int(num1)
b=int(num2)
sum=a+b
print(sum)

Enter the value of first number 45
Enter the value of second number 5

50

##### question 2

In [62]:
age = int(input("Enter the age of user:"))
weight =int(input("Enter the weight of user:"))
height =(input("Enter the height of user"))
Age=abs(age)
Weight=abs(weight)
Height=float(height)
BMR="88.362+(13.397*Weight)+(4.799*Height)-(5.677*Age)"
print("Basal Metabolic rate(BMR):",eval(BMR))

Enter the age of user: -15
Enter the weight of user: 60
Enter the height of user 5.6

Basal Metabolic rate(BMR): 833.9014000000001

##### question 3

In [ ]:
write a python code for hostel students, ask them to mention thier course name and age.
for 5 students and calculate their avg age

In [65]:
first=input("Enter the name of first student:")
age1=int(input("enter its ages also:"))
second=input("Enter the name of secomd student:")
age2=int(input("enter its ages also:"))
third=input("Enter the name of third student:")
age3=int(input("enter its ages also"))
fourth=input("Enter the name of fourth student:")
age4=int(input("enter its ages also:"))
five=input("Enter the name of fiveth student:")
age5=int(input("enter its ages also:"))
Average_age="(age1+age2+age3+age4+age5)/5"
print("Average age of all five student is:",eval(Average_age))

Enter the name of first student: chandan
enter its ages also: 22
Enter the name of secomd student: gulshan
enter its ages also: 23
Enter the name of third student: prashant
enter its ages also 22
Enter the name of fourth student: purushootam
enter its ages also: 22
Enter the name of fiveth student: nishant
enter its ages also: 20

Average age of all five student is: 21.8