## while loop

In [2]:
count=1
while(count<=5):
    print(count)
    count=count+1

1
2
3
4
5

#### write a Python program to print all the even numbers between 1 to 50 using while loop

In [1]:
num=1
while(num<=50):
    if(num%2==0):
        print(num)
    num=num+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
email=input("Enter your mail id")

valid_email=False
while(not valid_email):
    if('@' in email and "." in email):
        print("Your email id is valid")
        valid_mail=True
    else:
        print("Your mail id is not valid,try again")
        email=input("please enter your  mail id")

### for loop

##### in Python ,a for loop is used to iterate over a sequence(such as a List,tuple,dictionary, or range)and finte iteration of code

In [2]:
number= [1,2,3,4,5]
for i in number:
 print(i)

1
2
3
4
5

In [3]:
n="student"
for i in n:
    print(i)

s
t
u
d
e
n
t

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(26):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [6]:
for x in range(5,26):
    print(x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

### for loop and if condition

In [11]:
for y in range(26):
    if(y%2==0):
        print("the number is even",y)
    else:
        print("the number is odd",y)

the number is even 0
the number is odd 1
the number is even 2
the number is odd 3
the number is even 4
the number is odd 5
the number is even 6
the number is odd 7
the number is even 8
the number is odd 9
the number is even 10
the number is odd 11
the number is even 12
the number is odd 13
the number is even 14
the number is odd 15
the number is even 16
the number is odd 17
the number is even 18
the number is odd 19
the number is even 20
the number is odd 21
the number is even 22
the number is odd 23
the number is even 24
the number is odd 25

In [ ]:
a=int(input("Enter a number to generate its multiplication table"))
print("the multiplication table of",a)

for i in range(1,11):
    print(f"(a)*{i} = {a*i}")

num_items = int(input("enter the number of items purchased"))
total_price=0

for i in range(num_items):
    price=float(input("enter the price of the items"))
    total_price= total_price + price
    i=i+1

if total_price >= 100:
    discount = 0.1*total_price
elif 50<=total_price<100:
    discount =0.5*total_price
else:
    discount =0

total_bill = total_price-discount
print("subtotal",total_bill)

### break statment

###### we can use the break statement with the loop to terminate the loop when a certain condition is met

In [2]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

### Continue statement

###### the continue statement is used to skip the current iteration of the loop and the control flow of the program goes to the next iteration.

In [3]:
for i in range(5):
    if i==3:
        continue
    print(i)
print("i am learing python")

0
1
2
4
i am learing python